<IfModule mod_rewrite.c>
    RewriteEngine On

    # Direct empty/root requests into the public folder
    RewriteRule ^$ public/ [L]

    # Direct all sub-routes into the public folder
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>